.panel {
    background-image: url(../images/bg-main-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5% 4% ;
    margin-bottom: 100px;
}

@media all and (min-width: 767px) {
    .panel {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

@media all and (min-width: 1024px) {
    .panel {
        width: 40%;
        margin-bottom: 0;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 12%;
    }
}

