@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

$gradient_background: linear-gradient(to left bottom, #6448fe, #6939e2, #6929c7, #6619ad, #600594);
$error_red: #ff5252;
$white: #fff;
$Light_grayish_violet: #dedddf;
$Dark_grayish_violet: #8e8593;
$Very_dark_violet: #21092f;
$Font_size: 18px;
$Font_family: 'Space Grotesk', sans-serif;
