.result-part {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .result-icon {
        margin-bottom: 50px;
    }

    & .result_greetings {
        letter-spacing: 0.2em;
    }
}