.card-back {
    background-image: url(../../images/bg-card-back.png);
    @include card;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 9%;

    & .ccv-code {
        color: $white;
        font-size: .8rem;
        letter-spacing: 0.08em;
    }
}

@media all and (min-width: 1024px) {
    .card-back {
        order: 2;
        transform: translateX(15em);
        box-shadow: 3px 4px 17px -1px rgba(51,51,51,0.69);;
        & .ccv-code {
            font-size: 1.2rem;
        }
    }
}